body{
  background-color:black;
}
.gridWidth{
  align-items:center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:1px;
  margin-top:10%;
  width:20rem;
}
.XTurn{
  color:black;
  font-size:1.4rem;
  font-weight:bold;

}
.oTurn{
  color:rgb(151, 239, 63);
  font-size:1rem;
  font-weight:bold;
}